
@model ItemViewModel
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>

  <tbody>
    @foreach (var item in Model.items)
    {
        <tr>
        <th scope="row">1</th>
        <td>@item.ItemName</td>
        <td>@item.ItemAddress</td>
        <td>@item.ItemPhone</td>
        </tr>
    }
  </tbody>
</table>
